/*background color*/
body {
  margin: 0;
  background: rgb(111, 111, 111);
}

/*nav logo size*/
.logo-img {
  max-width: 50px;
  height: auto;
}

/*nav color and size*/
.navbar {
  background-color: #6c761c;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*nav links beside eacht other instead of under each other*/
.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

/*nav link*/
.nav-link {
  display: block;
  color: #fff;
  text-decoration: dotted;
  font-size: 3vw;
  margin: 0 15px;
}

/*nav hover stripe*/
.nav-link:hover{
  text-decoration: underline;
}

/*nav for phone*/
@media (max-width: 768px) {
  .navbar-nav {
    flex-wrap: nowrap;
    justify-content: center;
  }
  /*header link size for phone*/ 
  .nav-link {
    font-size: 4.5vw;
    text-align: center;
  }
}

/*footer position*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(108, 118, 28);
  padding: 1%;
  display: flex;
  justify-content: left;
  align-items: center;
}

/*footer link*/
.footer a {
  color: rgb(255, 255, 255);
  text-decoration: dotted;
  display: block;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0 5px;
}

/*footer hover stripe*/
.footer a:hover{
  text-decoration: underline;
}