/*background color*/
body {
  margin: 0;
  background: rgb(81, 81, 81);
}

/*nav logo size*/
.logo-img {
  max-width: 50px;
  height: auto;
}

/*nav color, size and alignment*/
.navbar {
  background-color: #6c761c;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*nav links beside each other*/
.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

/*nav link style*/
.nav-link {
  display: block;
  color: #fff;
  text-decoration: dotted;
  font-size: 3vw;
  margin: 0 15px;
}

/*nav hover style*/
.nav-link:hover{
  text-decoration: underline;
}

/*nav for phone*/
@media (max-width: 768px) {
  .navbar-nav {
    flex-wrap: nowrap;
    justify-content: center;
  }
  /*header link size for phone*/ 
  .nav-link {
    font-size: 4.5vw;
    text-align: center;
  }
}

/*footer position and width*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(108, 118, 28);
  padding: 1%;
  display: flex;
  justify-content: left;
  align-items: center;
}

/*footer link*/
.footer a {
  color: rgb(255, 255, 255);
  text-decoration: dotted;
  display: block;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  margin: 0 5px;
}

/*footer hover stripe*/
.footer a:hover{
  text-decoration: underline;
}

/* Container for the contact form */
.contact {
  padding: 20px;
  background-color: rgb(81, 81, 81);
  max-width: 600px; /* Set a maximum width for the form */
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  margin: 0 auto 20px; /* Center the form horizontally and add margin at the bottom */
}

/* Text style for form labels */
.text-contact label {
  display: block;
  color: #ffffff;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
}

/* Input and textarea style */
input[type=submit] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px 40px;
  margin-top: -10px;
  font-family: sans-serif, Impact, 'Arial Narrow Bold', sans-serif;
  border: none
}

/* submit hover color*/
input[type=submit]:hover {
  background-color: #6C761C;
  color: #ffffff;
}

/*form space between title and text space*/
input[type=text],
select,
textarea {
  width: 92.5%;
  padding: 12px;
  margin-top: 6px;
}